<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="labelColor">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label class="labelColor" position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="usernameOrEmail" name="usernameOrEmail" required></ion-input>
    </ion-item>
    
    <ion-button class="botonmio" expand="full" type="submit">Restablecer Contraseña</ion-button>
  </form>

  <div *ngIf="resetSuccessful" class="ion-text-center">
    <p>Si tu información es correcta, recibirás un SMS con instrucciones para restablecer tu contraseña.</p>
  </div>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/LogoRegistrApp.png" alt="Logo" class="logo" />
  </div>
</ion-content>
