//clase para los labels
.labelColor{
    color: #bfa575;
}
.welcome{
    text-align: center;
}

//clase del boton
.centered-button {
        
    --background: #bfa575;
    --color: white; /* color del texto */
    border-radius: 25px; /* Redondear las esquinas */
    width: 80%;
    max-width: 300px;
    padding: 10px;
    display: block;
    margin: 20px auto; /* Espaciado para que no se superponga con el footer */
    text-align: center; /* Centrar el texto */
}

.footer-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.logo-container {

    display: flex; /* Usar flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* Altura del contenedor */
}
  
.logo-container img {

    max-width: 50%;
    height: auto;
}

ion-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
  