<ion-content class="ion-padding">
  <div class="profile-card">
    <div class="profile-picture">
      <img #profilePicture [src]="profilePictureUrl || 'assets/profile-picture.jpg'" alt="Foto de perfil" />
      <ion-icon name="pencil" class="edit-icon" (click)="onEditPicture()"></ion-icon>
      <input type="file" hidden #fileInput (change)="onFileSelected($event)" />
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Perfil</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating" class="labelColor">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labelColor">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="labelColor">Correo Institucional</ion-label>
          <ion-input [(ngModel)]="correo" type="email"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="button-container">
    <ion-button color="warning" (click)="guardar()">Guardar</ion-button>
    <ion-button color="danger" (click)="cancelar()">Cancelar</ion-button>
  </div>
</ion-content>
