<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <div class="logo-container-header">
        <img src="assets/LogoRegistrApp.png" alt="Logo" class="logo-header" />
      </div>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label class="labelColor" position="floating" [class.shrink]="isUsernameFocused || username">
            Nombre de Usuario
          </ion-label>
          <ion-input [(ngModel)]="username" name="username" require (ionFocus)="onUsernameFocus()"(ionBlur)="onUsernameBlur()"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label class="labelColor" position="floating" [class.shrink]="isPasswordFocused || password">
            Contraseña
          </ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required (ionFocus)="onPasswordFocus()" (ionBlur)="onPasswordBlur()"></ion-input>
        </ion-item>    
        <ion-button class="botonmio" expand="full" type="submit">Iniciar Sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  
  <!-- Botón de registro y recuperación de contraseña -->
  <ion-button class="botonmio" expand="full" (click)="goToRegister()">Registrarse</ion-button>
  <ion-button class="botonmio" expand="full" (click)="goToResetPassword()">Recuperar Contraseña</ion-button>

  <!-- Overlay con spinner centrado -->
  <div *ngIf="isLoading" class="overlay">
    <ion-spinner name="dots"></ion-spinner>
  </div>
</ion-content>
