#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.welcome{
  text-align: center;
}

.botonmio{
  --background: #bfa575;
  --background-activated: #bfa575;
  --background-focused: #bfa575;
  --background-hover: #a68a55;
  --color: white; /* color del texto */
}

//Logo
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.logo {
  max-width: 100px;
  height: auto;
}

// Imagen QR de prueba
.qr-container {
  display: flex;
  flex-direction: column; //mostrar como columna
  align-items: center;    //contralizarlo a la pantalla
  margin-top: 20px;
}

.qr-image {
  width: 200px; //tamaño del QR
  margin-bottom: 15px;  //Espacio entre el QR y el botón
}
