/* Mantener la separación entre las cards de asignaturas */
ion-card {
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  margin: 10px auto; /* Añadir margen lateral para separar cada card */
}

/* Separar las cards de asignaturas de manera uniforme */
ion-card + ion-card {
  margin-top: 20px; /* Añadir espacio entre las cards */
}

/* Si necesitas un mayor margen entre las cards del clima */
.weather-card {
  margin-top: 20px;
}

/* Resto del código */
.scrollable-content {
  height: calc(100vh - 140px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.welcome {
  text-align: center;
  padding: 10px 0;
}

.botonmio {
  --background: #bfa575;
  --background-activated: #bfa575;
  --background-focused: #bfa575;
  --background-hover: #bfa575;
  --color: white;
  margin-top: 10px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #202020;
  color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 50px;
  height: auto;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.qr-image {
  width: 150px;
  margin-bottom: 10px;
}

.weather-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ion-slides {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
//sliders quedan pendientes para la proxima iteración
ion-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
